<form [formGroup]="form">

  <mat-form-field class="example-full-width">
    <mat-label>Data de locação</mat-label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="locacao" formControlName="dataLocacao">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="locacao"></mat-datepicker-toggle>
    <mat-datepicker #locacao></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Data de devolução</mat-label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="devolucao" formControlName="dataDevolucao">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="devolucao"></mat-datepicker-toggle>
    <mat-datepicker #devolucao></mat-datepicker>
  </mat-form-field>

  <table mat-table [dataSource]="veiculosDisponiveis" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>


  <button (click)="getVeicleDisponible()">aaaaaaaaaaa</button>

</form>
