<mat-toolbar color='primary'>
  <button mat-button routerLink="/home" type="button">Home</button>
  <button mat-button routerLink="/reserva" type="button">Reserva</button>
  <button mat-button routerLink="/agendamento" type="button">Agendamento</button>
  <button mat-button routerLink="/registro/veiculo" type="button">Cadastro Veiculo</button>
  <button mat-button routerLink="/registro/usuario" type="button">Cadastro Usuario</button>
  <button mat-icon-button class="icon-login" aria-label="Login" routerLink="/login">
    <mat-icon>
      person
    </mat-icon>
  </button>
</mat-toolbar>
